DB_SERVER=<cluster>.mongodb.net
DB_USER=<db_user>
DB_PASS=<db_pass>
DB_DATABASE=<db_name>
EMAIL_USER=<email_user> // Microsoft mail service / GMAIL
EMAIL_PASS=<email_pass>
JWT_SECRET=<jwt_secret>
JWT_EXPIRES=<jwt_expires>